/* Reset */
h1 , p , figure , ul , li  {
    margin: 0;
    padding: 0;
}

body {
    background-color:darkblue;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: sans-serif;
}

ul , li {
    list-style: none;
}
/* Fin reset */


/* Mise en page. */
nav {
    background-color: white;

    display: flex;
    align-items: center;

    height: 60px;

    width: 70vw;
}

nav > div {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav > div > a {
    text-decoration: none;
}



header {
    background-color: rgb(13,28,69);

    color: white;

    font-size: 1.5em;

    width: 70vw;

    display: flex;
    justify-content: center;

    padding-top: 50px;
    padding-bottom: 50px;
}

header > section > h1 {
    color: rgb(160,176,249);
}

header > section > p > span {
    color: rgb(160,176,249);
}

#header_section_1 {
    width: 50%;

    margin-right: 20px;
}

#header_section_2 {
    margin-left: 20px;
}



main {
    background-color: white;

    color: black;

    width: 70vw;

    height: 800px;
    display: flex;
    justify-content: center;

    padding-top: 60px;
}

main > section {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-left: 60px;
}

main > section > div > img {
    margin: 5px;
}

#div_photos_1 {
    width: 100%;

    display: flex;
    justify-content: center;
}

#div_photos_2 {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: space-beetwen;
}

main > aside {
    font-size: 1.4em;

    text-align: center;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: -10px;

    overflow-y: scroll;
}

main > aside > img {
    margin-bottom: 30px;
}

main > aside > p {
    text-align: left;
    margin-bottom: 15px;
}



footer {
    background-color: rgb(13,28,69);

    display: flex;
    align-items: center;
    justify-content: space-around;
    
    width: 70vw;
    height: 100px;
}

footer a > img , footer a > span {
    border-radius: 30px;
    border: solid 2px lightgray;
}

footer > a > span {
    font-size: 1.3em;
    font-weight: bold;
    color: white;

    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}