/* Reset */

h1 , h3 , p , figure , ul , li  {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

ul , li {
    list-style: none;
}

/* Fin reset */


/* Mise en page. */

nav {
    background-color: white;

    display: flex;
    align-items: center;

    height: 60px;

    width: 100%;
}

nav > div {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav > div > a {
    text-decoration: none;
}


header {
    background: url(../images/depuis-quand-mesure-t_on-le-temps.jpg) center no-repeat;

    background-size: cover;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5em;

    width: 100%;

    height: 290px;
}

header > section > h1 {
    color: rgb(160,176,249);
}

header > section > p > span {
    color: rgb(160,176,249);
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    border: solid 1px white;
}

.titreMain {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;

    height: 190px;

    color:blueviolet;
}

.galerie {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 1040px;;

    /* border: solid 2px red; */
}

.galerie > article {
    margin: 5px;
    position: relative;

    color:blueviolet;
}

.div_texte {
    opacity: 0;

    position: absolute;
    top: 5px;
    left: 0px;  

    width: 280px;
    height: 180px;

    border: ridge 10px lightblue;

    background-color: blueviolet;

    color:white;

    font-size: 1em;

    overflow-y: scroll;
}

.div_texte:hover {
    opacity: 1;
    transition: opacity .3s ease-in-out;

    /*top: -10px;
    left: -30px;*/

   /* width: 320px;
    height: 200px;*/
    transform: scale(1.3);

    z-index: 1;
}

.galerie > article > h3 {
    text-align: center;

    border-left: solid 1px lightblue;
    border-top: solid 1px lightblue;
    border-right: solid 1px lightblue;
}

.titre_article {
    text-align: center;

    color: blueviolet;

    background-color: white;
}

.galerie >  article > img {
    width: 280px;
    height: 180px;

    border-left: solid 1px lightblue;
    border-bottom: solid 1px lightblue;
    border-right: solid 1px lightblue;
}




footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    width: 100%;
    height: 100px;

    background-color: rgb(13,28,69);
}

footer a > img , footer a > span {
    border-radius: 30px;
    border: solid 2px lightgray;
}

footer > a > span {
    font-size: 1.3em;
    font-weight: bold;
    color: white;

    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}