/* Reset */
h1 , h3 , p , figure , ul , li  {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: darkblue;

    display: flex;
    flex-direction: column;
    align-items: center;
}

ul , li {
    list-style: none;
}
/* Fin reset */



/* Mise en page. */
body {
    height: 100vh;
    width: 100vw;
}



nav {
    background-color: white;

    display: flex;
    align-items: center;

    height: 60px;

    width: 70vw;
}

nav > div {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav > div > a {
    text-decoration: none;
}




.formulaireDeContact {
    background-color: #5559a2;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 70vw;
    height: 100%;
}

.formulaireDeContact > section > header {
    background-color: #092674;

    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 20px;
    padding-right: 20px;

    border-radius: 10px 10px 0px 0px;
}

.divHamburger {
    display: flex;
    align-items: center;
}

.divPoints {
    display: flex;
    align-items: center;
}

.pastille {
    background-color: aqua;

    width: 10px;
    height: 10px;

    border-radius: 10px;
    margin-right: 2px;
    margin-left: 2px;
}

.menuHamburger {
    background-color:darkgray;

    border-radius: 10px;
    margin-right: 2px;
    margin-left: 2px;

    width: 5px;
    height: 5px;
}

.formulaireDeContact > section > div {
    background-color: #0d1c45;

    display: flex;
    justify-content: center;

    height: 300px;

    border-radius: 0px 0px 10px 10px;

    box-shadow: rgba(0, 0, 0, 0.9) 0px 25px 20px -20px;

    padding: 50px;
}

.formulaireDeContact > section > div > section {
    width: 100%;

    margin-right: 80px;
}

.formulaireDeContact > section > div > aside {
    width: 100%;

    padding-left: 40px;
    padding-right: 20px;
}

.formulaireDeContact > section > div > aside > form {
    color:gray;

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;

    font-size: 1.1em;

    font-weight: lighter;
}

.formulaireDeContact > section > div > aside > form input, textarea {
    color:  lightgray;

    border: none;
    border-bottom: solid 1px gray;
    background-color: #0d1c45;

    margin-bottom: 10px;
}

.formulaireDeContact > section > div > aside > form input {
    height: 50px;
}

.formulaireDeContact > section > div > aside > form > textarea {
    margin-top: 40px;
}

.formulaireDeContact > section > div > section {
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contactezNous {
    font-size: 2em;
    font-weight: bold;
}

.contactInfo {
    color: gray;

    font-size: .7em;
}

.boutonEnvoyer {
    background-color: #0d1c45;
    color: #6b87ab;

    width: fit-content;

    border: none;
    cursor: pointer;

    font-size: 1.3em;

    margin-top: 10px;
}


footer {
    background-color: rgb(13,28,69);

    display: flex;
    align-items: center;
    justify-content: space-around;
    
    width:  70vw;
    height: 100px;
}

footer a > img , footer a > span {
    border-radius: 30px;
    border: solid 2px lightgray;
}

footer > a > span {
    font-size: 1.3em;
    font-weight: bold;
    color: white;

    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
